.github/

docs/
test/
tools/
node_modules/
coverage/
scripts/

.gitignore
.npmignore
.gitattributes


CHANGELOG.md
CONTRIBUTING.md

tsconfig.json
package-lock.json

eslint.config.js
rollup.config.js
eslint.config.js

